@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("/css/generator.css");

.header-element {
    display: inline;
    background: rgb(112, 112, 112);
    flex: 1;
    text-decoration: none;
    color: white;
    text-align: center;
    align-content: center;
}

.header-element:hover:not([class*=selected]):not([class*=empty]) {
    background: rgb(144, 144, 144);
}