.qr-generator-button {
    min-width: 30px;
    min-height: 30px;
    position: absolute;
    background-image: url("/img/qr.png");
    background-repeat: round;
    border: 3px;
    border-color: #ddd;
    border-style: solid;
}

.qr-generator-button:hover:not([class*=qr-code]) {
    border-color: #aaa;
}

.mouse-debug-info {
    position: absolute;
    background: white;
    z-index: 99;
}